<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://unpkg.com/jam-icons/css/jam.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap" rel="stylesheet">
</head>
<body class="site-background">  
    <div class="row no-gutters">
        <div class="col-lg-2">
            <div class="vertical-nav"> 
                <a class="logo" href="@Url.Action("Index", "Main")">
                    <img src="~/Public/CarEncyclopedia_White.png" class="mt-3 mb-3" width="200"/>
                </a>
                <ul class="list-group border-top pt-3 ml-2 text-left">
                    <li class="text-center">
                        <p class="d-inline"><span class="jam jam-filter mr-1"></span>Filters</p>
                    </li>
                    <li>
                        <p class="font-weight-bold mb-0">Display Cars By Make</p>
                        @Html.Action("CarMakesDropDownList", "Main")
                        @Html.Hidden("DisplayByMakeURL", Url.Action("DisplayByMake", "Main"))
                        <button type="button" id="CarMakes" class="btn-info btn-sm">Display</button>
                        <ul id="carMakesSortOptions" class="list-group d-none">
                            <li class="mt-1 d-none car-makes-sort">
                                <p class="mb-0 mr-1 sub-link d-inline">Sort Cars By: </p>
                                <select class="form-control-xs car-makes-sort-by">
                                    <option value="Model">Model</option>
                                    <option value="Price">Price</option>
                                    <option value="CityMPG">City MPG</option>
                                    <option value="HwyMPG">Hwy MPG</option>
                                    <option value="Weight">Weight</option>
                                </select>
                                <select class="form-control-xs car-makes-sort-order-alpha">
                                    <option class="alpha" value="ASC">A to Z</option>
                                    <option class="alpha" value="DESC">Z to A</option>
                                </select>
                                <select class="form-control-xs car-makes-sort-order-numeric d-none">
                                    <option class="numeric" value="ASC">Low to High</option>
                                    <option class="numeric" value="DESC">High to Low</option>
                                </select>
                            </li>
                        </ul>
                    </li>
                    <li class="mt-2">
                        <p class="font-weight-bold mb-0">Display Cars By Price</p>
                        @Html.Action("CarPricesDropDownList", "Main")
                        @Html.Hidden("DisplayByPriceURL", Url.Action("DisplayByPrice", "Main"))
                        <button type="button" id="CarPrices" class="btn-info btn-sm">Display</button>
                        <ul id="carPriceSortOptions" class="list-group d-none">
                            <li class="mt-1 car-prices-sort">
                                <p class="mb-0 mr-1 sub-link d-inline">Sort Cars By: </p>
                                <select class="form-control-xs car-prices-sort-by">
                                    <option value="Model">Model</option>
                                    <option value="Price">Price</option>
                                    <option value="CityMPG">City MPG</option>
                                    <option value="HwyMPG">Hwy MPG</option>
                                    <option value="Weight">Weight</option>
                                </select>
                                <select class="form-control-xs car-prices-sort-order-alpha">
                                    <option value="ASC">A to Z</option>
                                    <option value="DESC">Z to A</option>
                                </select>
                                <select class="form-control-xs car-prices-sort-order-numeric d-none">
                                    <option value="ASC">Low to High</option>
                                    <option value="DESC">High to Low</option>
                                </select>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="list-group border-top-0 pt-2 ml-2 text-left">
                    <li class="text-center">
                        <p class="d-inline"><span class="jam jam-pie-chart mr-1"></span>Visualize</p>
                    </li>
                    <li>
                        <p id="CompareMakesToggle" class="d-inline font-weight-bold"><span class="jam jam-plus mr-1"></span><u>Compare Makes</u></p>
                        @Html.Hidden("CompareMakesToggleURL", Url.Action("CompareMakes", "Main"))
                        <ul id="CompareMakesOptions" class="list-group d-none">
                            <li class="list-unstyled ml-3">
                                <p class="d-inline">Compare : </p>
                                <select id="CompareMakesOn" class="form-control-sm">
                                    <option>Price</option>
                                    <option>City MPG</option>
                                    <option>Hwy MPG</option>
                                </select>
                                <button type="button" id="CompareMakes" class="btn-info btn-sm">Display</button>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p id="ComparePackages" class="d-inline font-weight-bold"><span class="jam jam-plus mr-1"></span><u>Compare Model Packages</u></p>
                        @Html.Hidden("ComparePackagesURL", Url.Action("ComparePackages", "Main"))
                    </li>
                    <li>
                        <p id="CompareYears" class="d-inline font-weight-bold"><span class="jam jam-plus mr-1"></span><u>Compare Model by Year</u></p>
                        @Html.Hidden("CompareYearsURL", Url.Action("CompareYears", "Main"))
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-10">
            <div id="main-body">
                @RenderBody()
            </div>
            <div id="busy" class="d-none">
                <img src="~/Public/busy.gif" />
            </div>
            
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>