<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>    
    <div class="vertical-nav">
        <h2>Car Encyclopedia</h2>
        <ul class="list-group">
            @*<li></li>
            <li>Make DropDown List</li>
            <li></li>*@
            <li>
                <p class="font-weight-bold mb-0">Display Cars By Make</p>
                <p class="mb-1">TODO: DropDown List</p>
                @{Html.RenderAction("CarMakesDropDownList", "Main");}
                <button class="btn-info btn-sm">Display</button>
            </li>
        </ul>
    </div>
    <div style="width: 80%">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>