<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>  
    <div class="row">
        <div class="col-lg-2">
            <div class="vertical-nav">
                <h2 class="pt-2">Car Encyclopedia</h2>
                <ul class="list-group border-top pt-2">
                    <li>
                        <p class="font-weight-bold mb-0">Display Cars By Make</p>
                        @Html.Action("CarMakesDropDownList", "Main")
                        <button type="button" id="CarMakes" class="btn-info btn-sm">Display</button>
                    </li>
                    <li class="mt-2">
                        <p class="font-weight-bold mb-0">Display Cars By Price</p>
                        @Html.Action("CarPricesDropDownList", "Main")
                        <button type="button" id="CarPrices" class="btn-info btn-sm">Display</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-7">
            <div id="main-body">
                @RenderBody()
            </div>
            <div id="busy" class="d-none">
                <img src="~/Public/busy.gif" />
            </div>
            
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>